<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hawkerpreneur | Info & News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/header' %>

<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Info & News</h3>
  <p>Resources....</p>
</div>

<%= render 'layouts/footer' %>

</body>