<div class="container-space">
  <h1>Hawker Community</h1>

  <div>
    <% @users.each do |user| %>
      <div>
        <%= image_tag user.image %>
        <%= user.username %>
        <%= link_to '(view Posts)', user %> 
        | 
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <%= user.email %>
      </div>
    <% end %>
  </div>
</div>