@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
  background: #2ABB9C;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
}

.bg-1 { 
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}

.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

.container-space {
  max-width: 1000px;
  margin: 0 auto;
}

input, select, textarea {
  color: black;
}

.micropost-card {
  border: 1px solid #ffffff;
  border-radius: 10px; 
  margin: 20px auto;
}

.alert-grey {
  background: #484F5D;
  margin-left: 120px;
  width: 1000px;
}